{
  "plugins": ["prettier-plugin-gherkin", "prettier-plugin-sh"],
  "overrides": [
    {
      "files": ["**/*.{json,feature,md,css,html}"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
